<div style="padding:30px">
  <p-table [value]="ventas" selectionMode="single" [(selection)]="venta_seleccionado" (onRowSelect)="llenar_formulario_venta()">
    <ng-template pTemplate="caption">
      <p-button icon="pi pi-plus" (click)="ver_form_venta = true;form_venta.reset()"></p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Producto</th>
        <th>Cliente</th>
        <th>Empleado</th>
        <th>Cantidad Venta</th>
        <th>Valor Venta</th>
        <th>Fecha Venta</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-venta>
      <tr [pSelectableRow]="venta">
        <td >{{venta.id}}</td>
        <td >{{venta.producto.nombre}}</td>
        <td >{{venta.cliente.nombre}}</td>
        <td >{{venta.empleado.nombre}}</td>
        <td>{{venta.cantidad_venta}}</td>
        <td>${{venta.valor_venta | number}}</td>
        <td>{{venta.fecha_venta | date}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Venta" [(visible)]="ver_form_venta" [position]="'top'" [modal]="true">
  <form [formGroup]="form_venta">
    <div class="login-page">
      <div class="form">
        <input pInputText formControlName="cantidad_venta" type="text" placeholder="Cantidad venta"/>
        <br>
        <input pInputText formControlName="valor_venta" type="text" placeholder="Valor venta"/>
        <br>
        <p-dropdown appendTo="body" [options]="productos" formControlName="producto_id" optionLabel="nombre" optionValue="id"></p-dropdown>
        <br>
        <p-dropdown appendTo="body" [options]="clientes" formControlName="cliente_id" optionLabel="nombre" optionValue="id"></p-dropdown>
        <br>
        <p-dropdown appendTo="body" [options]="empleados" formControlName="empleado_id" optionLabel="nombre" optionValue="id"></p-dropdown>
        <br>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check"  label="Guardar" (click)="guardar()" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
